<div class="page">
    
    <h1>team1</h1>
    <div class="wrap">
            
            <div style="margin-left:267px;" *ngFor="let player of teamService.team1">
        
                    <div class="card" style="width: 18rem;">
                            <img class="card-img-top" src="../../../assets/aron.jpg" alt="Card image cap">
                              <div  class="card-body">
                              <h3  class="card-title">{{player.name}}</h3>
                              <div style="display: flex;">
                                    <!-- <span><h2 class="card-text">{{player.made}}</h2></span> -->
                                    <span><h2 class="card-text">{{player.missed}}</h2></span>


                              </div>
                                  <a href="#" class="btn btn-primary" (click)="addCounter(player)">Make shot</a>
                                  <a href="#" class="btn btn-danger" (click)="missesCounter(player)">Missed shot</a>
                                </div>
                              </div>
                            
                    </div>
    
    
    </div>
    <h1>team2</h1>

    <div class="wrap">
            
            <div style="margin-left:267px;" *ngFor="let player of teamService.team2">
        
                    <div class="card" style="width: 18rem;">
                            <img class="card-img-top" src="../../../assets/aron.jpg" alt="Card image cap">
                              <div  class="card-body">
                              <h3  class="card-title">{{player.name}}</h3>
                              <div style="display: flex;">
                                    <!-- <span><h2 class="card-text">{{player.made}}</h2></span> -->
                                    <span><h2 class="card-text">{{player.missed}}</h2></span>


                              </div>
                                  <a href="#" class="btn btn-primary" (click)="addCounter(player)">Make shot</a>
                                  <a href="#" class="btn btn-danger" (click)="missesCounter(player)">Missed shot</a>
                                </div>
                              </div>
                            
                    </div>
    
    
    </div>

    
    
   
    
    

</div>
