<div class="page">

  <div class="teams">
    
    <h1 >{{teamService.team1name}}</h1>
    <div class="team1" *ngFor="let player of teamService.team1">
      
      
      <img  class="avatar" src="{{player.img}}" alt="Card image cap">
      
      
      
      <button class="btn btn-danger" (click)="missedBtn(player)">Missed shot</button> 
      <button class="btn btn-primary" (click)="madeBtn(player)">Make shot</button> 
      <table>
        <tr class="o">
          <th>Name</th>
          <th>Made</th>
          <th>missed</th>
          <th>points</th>
          <th>per</th>
          <th>sTM</th>
          <th>sTMis</th>
          <th>sumAll</th>
          <th>sTPre</th>
        </tr>
        <tr >
          <td>{{player.name}}</td>
          <td>{{player.made}}</td>
          <td>{{player.missed}}</td>
          <td>{{player.points}}</td>
          <td>{{player.percentage}}%</td>
          <td>{{sumTeam1Made}}</td>
          <td>{{sumTeam1Missed}}</td>
          <td>{{sum1All}}</td>
          <td>{{sumTeam1Prec}}%</td>
          
        </tr>
      </table>
      
    </div>
    <button (click)="newGame()">new game</button>
    
    <h1 class="teamname">{{teamService.team2name}}</h1>
    <div class="team2"  *ngFor="let player of teamService.team2">
      
      
      <img  class="avatar" src="{{player.img}}" alt="Card image cap">
      
      
      
      <button class="btn btn-danger" (click)="missedBtn(player)">Missed shot</button> 
      <button class="btn btn-primary" (click)="madeBtn(player)">Make shot</button> 
      <table>
        <tr class="o">
          <th>Name</th>
          <th>Made</th>
          <th>missed</th>
          <th>points</th>
          <th>per</th>
          <th>sTM</th>
          <th>sTMis</th>
          <th>sumAll</th>
          <th>sTPre</th>
          <th>sumPlayer</th>
        </tr>
        <tr >
          <td>{{player.name}}</td>
          <td>{{player.made}}</td>
          <td>{{player.missed}}</td>
          <td>{{player.points}}</td>
          <td>{{player.percentage}}%</td>
          <td>{{sumTeam2Made}}</td>
          <td>{{sumTeam2Missed}}</td>
          <td>{{sum2All}}</td>
          <td>{{sumTeam2Prec}}%</td>
          
        </tr>
      </table>
      
      
    </div>
    <button (click)="save()"> save the game</button>
  </div>
  
  
</div>