.body{
  background-image:url("../../../assets/basketball.jpg");
  min-height: 100vh;
  
}
.wellcom{
  display: flex;
  text-shadow: 0 2px 20px ;
  font-size: 82px;
  color :black;


  justify-content: center;
  
}
/* h2{
  line-height: 1.6;
  color :black;


} */
.text{

  display: flex;
  font-family: Arial, Helvetica, sans-serif;

  justify-content: center;
color :orangered;
margin-left: 256px
}
.oneOfus{
  display: flex;
  margin-top: 35px;

  justify-content: center;

}
h4{
  color :orangered;
}
span{
  
  margin:25px;
}
.log{
  /* background-color: rgba(0,0,0,0); */

}
.img{

}

.login-wrapper {
  display: flex;
  /* position: relative; */

  justify-content: center;
  align-items: center;
  text-align: center;
  /* margin: 0 auto; */
  /* margin-left:50%;  */

  
}
/* .card-body{
} */
.card{
  
  /* margin-left: 800px; 
  display: inline-block;
  margin: 0 auto; */
  /* flex-direction: row ; */
  
  /* background: rgb(0, 0, 0); */
  /* background: rgba(0, 0, 0, 0.5); */
  
}

input {
  margin-bottom: 2rem;
  width: 20rem;
}

button {
  margin-bottom: 2rem;
}

.login{
  background-image:url("https://media.giphy.com/media/rBVM213ASKBIk/giphy.gif");
  color :orangered;
  /* display: inline-block; */
  margin-right:400px; 

}
.regisration{
  background-image:url("https://media.giphy.com/media/87gYRrev40o0wMW4cC/giphy.gif");
  color :orangered;
  margin-left:600px; 


}