<div class="page">
        <h1>basketball</h1>
                
                <div class="wrap"  *ngFor="let player of data">
                        <button (click)="addPlayer(player)">Choose me </button>
            
                        <div class="card" style="width: 18rem;">
                                <img class="card-img-top" src="../../../assets/aron.jpg" alt="Card image cap">
                                  <div  class="card-body">
                                  <h3  class="card-title">{{player.name}}</h3>
                                  <div style="display: flex;">
                                        <!-- <span><h2 class="card-text">{{player.made}}</h2></span> -->
                                        <span><h2 class="card-text">{{player.missed}}</h2></span>


                                  </div>
                                      <button class="btn btn-primary" (click)="addCounter(player)">Make shot</button>
                                      <button class="btn btn-danger" (click)="missesCounter(player)">Missed shot</button>
                                    </div>
                                  </div>
                                
        
        
        </div>

        <div >
                <button routerLink="team" style="width: 1235px;height: 37px;" >Create Team</button>
        </div>
        
       
        
        

</div>
