/* 
::-webkit-scrollbar{
    display: none;
} */
.page{
    height: 100vh;
    overflow: auto;
    text-align: center;
    


    background-image:url("../../../assets/basketball.jpg");
}

.wrap{
    justify-content: center;
    display: inline-block;
    /* display: flex; */
    
}
.card{}
.card-img-top{
    height: 245px;
    width: 245px
}